.progressCricle{
    width: min(50vw,50vh);
    height: min(50vw,50vh);
    border-radius: 100%;
    display: grid;
    place-items: center;
    /* border-width: 3em; */
    background: 
    radial-gradient(closest-side, rgb(255, 255, 255) 79%, transparent 80% 100%),
    conic-gradient(var(--color-secondary) var(--percentage), var(--color-primary) 0); 
}
.currentAmount{
    font-weight: bold;
    font-size: xx-large;
}
