.progressContainer{
    display: grid;
    place-items: center;
    font-size:xx-large;
    margin-top: 1.5em;
}

.progressBar{
    width: 80%;
    height: .5em;
    background-color: var(--color-primary);
    border-radius: .5em;
    margin:1em 0;
}
.progressFill{
    width: 20%;
    height: 100%;
    background-color: var(--color-secondary);
    border-radius: .5em;
}