.payedContainer {
  display: grid;
  width: 100%;
  place-content: center;
  white-space: nowrap;
  border-top: 2px solid var(--color-text);
  padding-top: 2em;
}

.payedRow {
  display: flex;
  width: fit-content;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  margin-bottom: .5em;
  /* padding: 1em; */
  border-radius: 1em;
}
.payedRow div{
  margin: 1em;
}

.payedColumn {
  flex-basis: 33.33%;
  text-align: center;
  color: var(--color-text);
}
