.payedTableContainer{
    display: grid;
    width: 100%;
    place-content: center;
    white-space: nowrap;
}
.payedTable {
    border-collapse: collapse;
    width: min(650px,90vw);
  }
  
  .payedTable td, 
  .payedTable th {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .payedTable th {
    background-color: #f2f2f2;
  }
  
  .payedTable tr:hover {
    background-color: #f5f5f5;
  }
  
  .payedTable td:first-child {
    text-align: left;
  }
  
  .payedTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .payedTable thead tr {
    background-color: #f2f2f2;
  }
  
  .payedTable thead th {
    font-weight: bold;
  }
  
  .payedTable tfoot {
    font-weight: bold;
  }
  