.homeContainer{
    display: grid;
    place-items: center;
    width: 100%;
    margin:1em 0;
}
.detailsForm{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.formGroup{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1em;
}
.formGroup label{
    width: fit-content;
    white-space: nowrap;
    align-self: center;
}
.payButton{
    font-weight: bolder;
}
.payButton:hover{
    background-color: var(--color-secondary);
    color: var(--color-primary);
}
.inputField{
    background-color: var(--color-primary);
    border: 0;
    height: auto;
    border-radius: 0.5em;
    padding: 1em;
    width: 100%;
}
